<!-- <h1>About Nachle With Yashs Didi</h1> -->
<!-- <p>Find me in app/views/welcome/about.html.erb</p> -->
<!-- <p>Find us on <a href="https://www.facebook.com/nwydds/">Facebook</a>!</p> -->
<!-- Our Mission is to spread a cultural awareness to the community and empower </br>
children with the skills and fortitude that an in-depth dance school </br> -->
<!-- can bring. -->
 
<%= image_tag("about.jpg", :alt => "profile") %>
