<h1>Welcome#classes</h1>
<p>Find me in app/views/welcome/classes.html.erb</p>


My Chance to Dance for ages 2.5 - 3.5

A Yash Studio original!  This wonderful class is designed for children who want </br>
to dance but are not quite old enough to join a ballet class.  The instructor</br>
 uses games, stories, and songs to teach balance, rhythm, movement, coordination, </br>
 and basic ballet steps. This class does not perform in the Spring Recital, but does</br>
  participate in Parents’ Observation Week.</br>
