<h1>Welcome#contact</h1>
<!-- <p>Find me in app/views/welcome/contact.html.erb</p> -->
<p>

<strong>Phone</strong>: (860) 266-6573 </p>

<p>

<strong>E-mail</strong>: <a href="mailto:nwydds@gmail.com">nwydds@gmail.com</a>

</p>

<p>

<strong>Location</strong>:<br />


133 Wilson St
<br />

Hartford, Connecticut 06106</p>
<p><strong>Map to studio</strong>:</p>
<p align="center">
  133 Wilson St
  Hartford, Connecticut 06106<br>
(860) 266-6573</p>
