<h1>Welcome#registration</h1>
<!-- <p>Find me in app/views/welcome/registration.html.erb</p> -->
<!-- <form action="https://getsimpleform.com/messages?form_api_token=42e4f12338e3a9d957a31fa298211e13" method="post"> -->
<form>
    <!-- <input type='text' name='test' /> -->
<p  style="margin-bottom: 0in; line-height: 100%">
  <span style="text-decoration: none">Name
    <input type='text' name='Name' />
  </span> </p>
<p  style="margin-bottom: 0in; line-height: 100%">
  <span style="text-decoration: none">Age
    <input type='text' name='Age' />
</span>
</p>
<p  style="margin-bottom: 0in; line-height: 100%">
  <span style="text-decoration: none">Address
    <input type='text' name='Address' />
</p>
<p style="margin-bottom: 0in; line-height: 100%">
    <br/>Parent's number
<input type='text' name='Phone#' />
</p>
</span>
<p  style="margin-bottom: 0in; line-height: 100%">
  <input type='submit' value='Submit!' /> </form>
