<h1>Welcome#registration</h1>
<!-- <p>Find me in app/views/welcome/registration.html.erb</p> -->
<form action="https://getsimpleform.com/messages?form_api_token=1702c7ddd79f7beac9172aa44ba5b6b3"
    method="post">
    <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
    <!-- <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>'/> -->
    <p style="margin-bottom: 0in; line-height: 100%">
      <span style="text-decoration: none">Name
        <input type='text' name='Name' />
      </span>
    </p>
    <p style="margin-bottom: 0in; line-height: 100%">
      <span style="text-decoration: none">Age
        <input type='text' name='Age' />
      </span>
    </p>
    <p style="margin-bottom: 0in; line-height: 100%">
      <span style="text-decoration: none">Address
        <input type='text' name='Address' />
      </span>
    </p>
    <p style="margin-bottom: 0in; line-height: 100%">
      <br/>Parent's number
      <input type='text' name='Phone#' />
    </p>
    <p style="margin-bottom: 0in; line-height: 100%">
      <input type='submit' value='Submit!' /> </form>
